---
import PageLayout from "@layouts/PageLayout.astro";
import Gallery from "@components/Gallery.astro";

interface Image {
  imgUrl: string;
  alt: string;
}

const imageFiles: string[] = [
  "a-Cream_pour_into_whisky_.jpg",
  "a-Crown_Royal_cu1_.jpg",
  "a-dr_18_.jpg",
  "a-dr_80_.jpg",
  "a-lipstick_drink-PPP_revised_.jpg",
  "a-P_orange_splash_.jpg",
  "a-Tilted_Glass_.jpg",
  "aa-dr_5_.jpg",
  "ab-dr_15_.jpg",
  "aw-Coke_effervescence_.jpg",
  "aw-P_ice_.jpg",
  "ax-P_palm_beer_glass_.jpg",
  "ay-Guinness_Series_.jpg",
  "ba-Simply_fruit_punch_ip19_V1_.jpg",
  "bb-dr_68_.jpg",
  "bc-dr_24_.jpg",
  "bc-dr_25_.jpg",
  "bc-Justin_Icoc_pour_.jpg",
  "bc-White_wine_pour_.jpg",
  "bd-dr_22_.jpg",
  "be-dr_23_.jpg",
  "be-Lolea_Red_.jpg",
  "be-Lolea_White_.jpg",
  "bf-P_liqour_ads_.jpg",
  "bf-P_tropicana_lemon_.jpg",
  "c-dr_27_.jpg",
  "c-dr_34_.jpg",
  "c-dr_36a_.jpg",
  "c-P_Grapefruit_juice_.jpg",
  "c-P_water_drop__d_.jpg",
  "c-Perrier_bubbles_.jpg",
  "d-dr_60_.jpg",
  "d-dr_73_.jpg",
  "d-Gatorade_.jpg",
  "d-P_coke_cu_.jpg",
  "d-Pepsi_Bottle_HERO_Horizontal_.jpg",
  "e-dr_76_.jpg",
  "ea-P_water_drop_.jpg",
  "eb-P_coffee_.jpg",
  "v-dr_32_.jpg",
  "v-dr_35_.jpg",
  "v-drinks_2_left_.jpg",
  "v-g-44_North_.jpg",
  "v-P_patron_ad_.jpg",
  "va-danzka_freezer_.jpg",
  "vb-Smirnoff_Raspberry_Sorbet__4b_.jpg",
  "vc-dr_9_.jpg",
  "vd-dr_64_.jpg",
  "vda-g-42_Below_Passion_lights.jpg",
  "vdb-g-42_Below_lights.jpg",
  "vv-Jagermeister_Xmas_Flattene_.jpg",
  "vw-dr_7_.jpg",
  "vw-dr_12_.jpg",
  "vw-dr_13_.jpg",
  "vx-drinks_right__2.jpg",
  "vx-drinks_right__3.jpg",
  "w-HONEY_BUILD_.jpg",
  "w-HONEY_BUILD3_.jpg",
  "w-HONEY_BUILD4_.jpg",
  "w-JDaniels_20524_ip3_.jpg",
  "w-Paper_Chase_promo_Liquor_pg_5__3.jpg",
  "x-Crown_Royal_left_.jpg",
  "x-Crown_Royal_StraightwBag_.jpg",
  "x-dr_6_.jpg",
  "x-drinks_right_.jpg",
  "x-P_jb_&_coke_.jpg",
  "x-P_Knob_Creek_.jpg",
  "x-PATRON_GranBurdeos_2016_Bottle_FrontAngle_SKY_.jpg",
  "y-Budweiser_bottle_P_.jpg",
  "y-c-dr_47_.jpg",
  "y-dr_38_.jpg",
  "y-dr_48_.jpg",
  "y-dr_54_.jpg",
  "y-dr_55_.jpg",
  "y-P_bud_beer_cu_.jpg",
  "y-P_Michelob_bottle_.jpg",
  "y-P_molson_splash_.jpg",
  "y-P_newcastle__2.jpg",
  "y-P_newcastle_.jpg",
  "y-P_sapporo_.jpg",
  "y-steinlager_bottle_.jpg",
  "yx-Corzo_snake_.jpg",
  "yx-dr_28_.jpg",
  "yy-Corzo_bottle_.jpg",
  "yz-Corona_comp_2.jpg",
  "z-Coors_Cheers__3.jpg",
  "z-Coors_Open_ip2__3.jpg",
  "z-Coors_Open_with_C_ip2__3.jpg",
  "z-Coors_Pour__2.jpg"
];

const images: Image[] = imageFiles.map((file) => ({
  imgUrl: `/images/photos/drinks/${file}`,
  alt: file
    .replace(/\.(jpg|jpeg|png|gif)$/i, "")
    .replace(/[_-]/g, " ")
    .replace(/\s+/g, " ")
    .trim(),
}));
---

<PageLayout title="Drinks" description="A gallery of drink photographs">
  <div class="w-full max-w-screen-xl mx-auto px-4 mt-[60px]">
    <Gallery images={images} />
  </div>
</PageLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const images = document.querySelectorAll(".gallery-image");
    images.forEach((img, index) => {
      if (img instanceof HTMLImageElement) {
        img.addEventListener("error", function () {
          console.error(`Failed to load image ${index + 1}: ${this.src}`);
          this.src =
            "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22100%22%20height%3D%22100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%22100%22%20height%3D%22100%22%20fill%3D%22%23eee%22%2F%3E%3Ctext%20x%3D%2250%25%22%20y%3D%2250%25%22%20dominant-baseline%3D%22middle%22%20text-anchor%3D%22middle%22%20font-size%3D%2214%22%20fill%3D%22%23aaa%22%3EError%3C%2Ftext%3E%3C%2Fsvg%3E";
          this.alt = "Error loading image";
        });
        img.addEventListener("load", function () {
          console.log(`Successfully loaded image ${index + 1}: ${this.src}`);
        });
      }
    });
  });

  function checkImages() {
    const images = document.querySelectorAll(".gallery-image");
    images.forEach((img, index) => {
      if (img instanceof HTMLImageElement) {
        fetch(img.src)
          .then((response) => {
            if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.blob();
          })
          .then(() => console.log(`Image ${index + 1} is accessible`))
          .catch((e) =>
            console.error(`Error with image ${index + 1}: ${e.message}`)
          );
      }
    });
  }

  setTimeout(checkImages, 2000);
</script>
